@font-face
  font-family: MinecraftFont
  src: url(../fonts/minecraft-font.ttf)

html
  --theme-default-color: #000
  --back-modal-st: rgba(255, 255, 255, 0.85)
  --white-theme-black-set: rgb(255, 255, 255)
  --white-theme-front-set: rgb(0, 0, 0)
  --notify-theme-bg: rgba(23, 27, 37, 0.7)
  --notify-theme-shadow: rgba(0, 0, 0, 0.6)
  --modal-shadow: rgba(255, 255, 255, 0.75)
  --si-card-bg: rgb(238,238,238)
  --si-body-bg: #f7f7f8
  --si-gray-600: #53535f
  --second-bg-theme: #fefefe
  --contr-color-var: #000
  --si-primary: rgb(144, 72, 255) !important

  --telegram-bgcolor0: #e17076
  --telegram-bgcolor1: #faa774
  --telegram-bgcolor2: #a695e7
  --telegram-bgcolor3: #7bc862
  --telegram-bgcolor4: #6ec9cb
  --telegram-bgcolor5: #65aadd
  --telegram-bgcolor6: #ee7aae

  --telegram-bgcolor0-top: #ff885e
  --telegram-bgcolor0-bottom: #ff516a
  --telegram-bgcolor1-top: #ffcd6a
  --telegram-bgcolor1-bottom: #ffa85c
  --telegram-bgcolor2-top: #82b1ff
  --telegram-bgcolor2-bottom: #665fff
  --telegram-bgcolor3-top: #a0de7e
  --telegram-bgcolor3-bottom: #54cb68
  --telegram-bgcolor4-top: #53edd6
  --telegram-bgcolor4-bottom: #28c9b7
  --telegram-bgcolor5-top: #72d5fd
  --telegram-bgcolor5-bottom: #2a9ef1
  --telegram-bgcolor6-top: #e0a2f3
  --telegram-bgcolor6-bottom: #d669ed

footer
  padding-top: 8rem

input, textarea
  &:-webkit-autofill
    transition: background-color 99999s ease-in-out 0s
    -webkit-text-fill-color: var(--contr-color-var) !important

    &:hover, &:focus, &:active
      transition: background-color 99999s ease-in-out 0s
      -webkit-text-fill-color: var(--contr-color-var) !important

\::selection
  background: rgba(144, 72, 255, .5)

.bg-light:not(.badge), .card.card-hover.bg-light
    background: rgb(255 255 255 / 90%) !important
    backdrop-filter: blur(16px)
    -webkit-backdrop-filter: blur(16px)

.dark-mode
  --theme-default-color: #fff
  --back-modal-st: rgba(21, 21, 23, .8)
  --white-theme-black-set: rgb(0, 0, 0)
  --white-theme-front-set: rgb(255, 255, 255)
  --notify-theme-bg: rgba(23, 27, 37, 0.6)
  --notify-theme-shadow: rgba(144, 72, 255, 0.25)
  --modal-shadow: rgba(144, 72, 255, 0.5)
  --si-body-bg: #0e0e10
  --second-bg-theme: #18181b
  --contr-color-var: #fff

  .bg-light:not(.badge), .card.card-hover.bg-light
    background-color: rgb(24 24 27 / 65%) !important
    backdrop-filter: blur(16px)
    -webkit-backdrop-filter: blur(16px)
    border-bottom: 1px solid rgba(255, 255, 255, 0.24)

.bg-theme-set
  background-color: var(--si-body-bg) !important

.header-logo
  width: 8rem
  height: 2.3rem
  background-image: url(../images/logo.webp)
  background-repeat: no-repeat
  background-size: contain
  background-position: center

.dark-mode .header-logo
  background-image: url(../images/logo-dark.webp) !important

.landing-head-text
  background-image: url(../images/logo.webp)
  background-position: center
  background-size: contain
  background-repeat: no-repeat
  color: #0000 !important
  height: 100%
  width: 100%
  display: flex
  margin: auto
  filter: drop-shadow(0 1px 2px black)
  -webkit-filter: drop-shadow(0 1px 2px black)

.dark-mode .landing-head-text
  background-image: url(../images/logo-dark.webp) !important

.dark-mode #landing_description_gb
  text-shadow: 0 0 5px black

.btn-dark
  --si-btn-active-bg: #000
  --si-btn-active-border-color: #000
  --si-btn-hover-bg: #9047ff
  --si-btn-hover-border-color: #9047ff

.dark-mode .btn-dark
  --si-btn-active-bg: #fff
  --si-btn-active-color: #33354d !important
  --si-btn-bg: #fff
  --si-btn-color: #33354d !important
  --si-btn-hover-bg: #dedede
  --si-btn-hover-color: #33354d !important

  &:hover
    box-shadow: 0 0.3rem 1.15rem -0.15rem rgb(102 11 243 / 45%) !important

a:hover
  color: #772ce8
  text-decoration: none

.btn-primary
  --si-btn-bg: #9147ff
  --si-btn-border-color: #9147ff
  --si-btn-active-bg: #772ce8
  --si-btn-active-border-color: #772ce8
  --si-btn-hover-bg: #772ce8
  --si-btn-hover-border-color: #772ce8
  --si-btn-disabled-bg: #772ce8
  --si-btn-disabled-border-color: #772ce8

.btn
  --si-carousel-nav-btn-hover-bg: rgb(119, 44, 232)
  --si-carousel-nav-btn-hover-box-shadow: 0 .4rem 1.125rem -.5rem rgba(119, 44, 232, 0.95)

.btn-shadow-hide
  &:active, :focus :target
    box-shadow: unset !important

.bg-secondary
  background: #fff !important

.dark-mode .bg-secondary
  background: #18181b !important

.bg-secondary-adaptive
  background: unset !important

@media (max-width: 767px)
  .bg-secondary-adaptive
    background: #fff !important

  .dark-mode .bg-secondary-adaptive
    background: #18181b !important

.bg-faded-primary
  background-color: rgb(17 17 17 / 7%) !important
  box-shadow: unset

  &:focus
    box-shadow: unset

.dark-mode .bg-faded-primary
  background-color: rgb(92 92 92 / 13%) !important

.form-switch
  background: var(--si-btn-bg) !important

.bg-dark
  background: #0e0e10 !important
  color: #fff

.bg-gradient-primary-translucent
  background: linear-gradient(180deg,#0000, rgba(119, 44, 232, 0.55) 120%) !important

@media (min-width: 1400px)
  .video-container
    height: 320px !important

  .video-container-yt
    height: 320px !important

.video-container
  width: 90%
  height: 50.625%
  margin: 5vw
  border-radius: 0.5rem !important
  filter: drop-shadow(0 0 6px rgba(0, 0, 0, .6))
  -webkit-filter: drop-shadow(0 0 6px rgba(0, 0, 0, .6))

.video-container-yt
  width: 90vw
  height: 50.625vw
  margin: 5vw
  border-radius: 0.5rem !important
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, .65))
  -webkit-filter: drop-shadow(0 0 8px rgba(0, 0, 0, .65))

.payment-sucess-vova
  display: block
  margin: auto
  height: 16vw
  border-radius: 3em

#only-ok-payment
  margin-top: 0

#success-pay-text-js
  margin: auto

#swipe-down-landing-n
  color: #fff
  text-shadow: 0 0 16px black

  &:after
    mix-blend-mode: difference !important

@media (max-width: 900px)
  .payment-sucess-vova
    height: 20vh

  #only-ok-payment
    display: block !important

  #success-pay-text-js
    padding: 1.5em
    display: block

iframe
  border-radius: 0.5em !important

.is-dev-site-splash
  position: fixed
  z-index: 9999
  background: #0e0e10
  width: 100vw
  height: 100vh
  transition: margin-top .6s

  > div
    position: relative
    top: 30%
    text-align: center
    transition: all .8s
    margin: auto

    > span
      display: block
      margin: auto
      max-width: 650px
      padding-left: 3em
      padding-right: 3em

    > button
      margin-top: 3em
      width: 250px !important

@media (prefers-color-scheme: light)
  .is-dev-site-splash
    background: #f7f7f8

.loading-dots
  &:after
    overflow: hidden
    display: inline-block
    vertical-align: bottom
    animation: ellipsis steps(4,end) 900ms infinite
    content: "\2026"
    width: 0

@keyframes ellipsis
  to
    width: 25px

.fake-block-sett-bg
  display: flex
  width: 100vw
  height: 100vh

.swipe_el_name
  display: block
  text-align: center

.noselect
  -webkit-touch-callout: none
  -webkit-user-select: none
  -moz-user-select: none
  user-select: none

.noselect-allow
  -webkit-touch-callout: default
  -webkit-user-select: text
  -moz-user-select: text
  user-select: text

.background_media_overlay
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  backdrop-filter: blur(0.12vw)
  -webkit-backdrop-filter: blur(0.12vw)
  z-index: -4

.background_media_overlay_tag
  transition: all 1s
  box-shadow: 20px 0 300px 2px #000

.dark-mode .background_media_overlay_tag
  filter: brightness(0.8)
  -webkit-filter: brightness(0.8)

.vova-bg-mobile
  display: none

@media (max-width: 950px)
  .players-pagination
    display: none

@media (max-width: 725px)
  .vova-right-back
    opacity: 0
    display: none

@media (min-width: 725px) and (max-width: 991px)
  .vova-right-back
    height: 400px
    width: 100%
    z-index: 0
    display: flex
    opacity: 1
    background-image: url(../images/vova-background-mobile.webp)
    background-position: right
    background-repeat: no-repeat
    background-size: contain
    bottom: -20px
    position: absolute

.vova-bg-l-mobile
  position: absolute
  height: 100vh
  background-image: url(../images/vova-background.webp)
  background-repeat: no-repeat
  background-size: contain
  background-position: right 25% bottom 28px
  z-index: 0
  filter: brightness(0.95)
  -webkit-filter: brightness(0.95)

.vova-bg-l-mobile-mask
  position: absolute
  height: 100vh
  background-image: url("../images/vova-background.webp")
  background-repeat: no-repeat
  background-size: contain
  background-position: right 25% bottom 28px
  z-index: 0
  filter: drop-shadow(0 0 25px #392568)
  -webkit-filter: drop-shadow(0 0 25px #392568)

.news-button-view
  margin-right: 0 !important
  margin-bottom: 0.7rem !important

.male-emoji
  margin-left: -10px !important
  margin-right: -12px !important

.dark-mode .male-emoji
  filter: invert(1)
  -webkit-filter: invert(1)

@media (max-width: 992px)
  .loading-dots
    text-align: left
    margin-left: 10%

@media (min-width: 992px)
  .mt-lg-4-first
    height: 100vh

  .background_media_overlay_tag
    height: 100vh

  .video-container
    width: 90%
    height: 50.625% !important
    margin: 2vw

  .video-container-yt
    width: 45vw
    height: 25.3125vw
    margin-left: 2vw
    margin-right: 2vw

  .vova-bg-landing, .vova-bg-landing-mask
    position: absolute
    height: 100vh
    background-image: url(../images/vova-background.webp)
    background-repeat: no-repeat
    background-size: contain
    background-position-y: -1em
    z-index: 0
    filter: brightness(0.95)
    -webkit-filter: brightness(0.95)

  .vova-bg-landing-mask
    filter: drop-shadow(0 0 35px #291d4c)
    -webkit-filter: drop-shadow(0 0 35px #291d4c)

  .landing-head-text
    background-position: -9px

  .news-text-container
    padding-bottom: 6rem

.display-1
  font-size: calc(48px + 6 * ((100vw - 320px) / 680))

.custom_input_
  margin: auto
  display: block
  background: var(--si-body-bg)
  color: var(--si-body-color)
  border-width: 2px
  border-style: solid
  font-size: 18px
  padding: 6px
  border-radius: 5px
  outline: 0

.swiper-pagination-bullet-active
  background-color: #772ce8

.donate-item-butt-bottom
  margin-top: .7rem
  padding: .4rem
  font-size: .8rem

input
  &::-webkit-inner-spin-button, &::-webkit-outer-spin-button
    -webkit-appearance: none
    margin: 0

input.form-control, textarea
  border: 2px solid #e5e5e5 !important
  background: #e5e5e5 !important

  &:focus
    border: 2px solid #a970ff !important

  &:active
    border: 2px solid #a970ff !important

.dark-mode input.form-control, .dark-mode textarea
  border: 2px solid #464649 !important
  background: #464649 !important

  &:focus
    border: 2px solid #a970ff !important

  &:active
    border: 2px solid #a970ff !important

input#theme-mode
    background-color: #9147ff !important

.text-primary
  color: #a76eff !important

code
  color: #a76eff !important

a
  --si-link-color: #bf94ff
  --si-btn-hover-bg: #925dec
  --si-heading-link-color: #bf94ff
  --si-heading-link-hover-color: #925dec

body.modal-open
  overflow: hidden

.btn
  border: 0
  color: var(--si-btn-color)
  transition: all .6s !important

.cart-desc-td
  display: block
  width: 70%

.modal
  display: none
  opacity: 0
  position: fixed
  z-index: 10
  padding-top: 100px !important
  left: 0
  top: 0
  width: 100vw
  height: 100vh
  background-color: rgba(0, 0, 0, 0.4)
  padding-left: .9em !important
  padding-right: .9em !important
  padding-bottom: 4em
  transition: all 0.4s
  backdrop-filter: blur(12px)
  -webkit-backdrop-filter: blur(12px)

.modal-content
  background-color: var(--back-modal-st)
  margin: auto
  padding: 20px

@media (min-width: 280px)
  .modal-content
    width: 100% !important

@media (min-width: 760px)
  .modal-content
    max-width: 600px !important

.container-item-donate-n
  display: block
  margin: auto
  width: 150px
  height: 150px

.parent-image-shadow
  margin: 40px auto
  width: min-content
  gap: 50px
  transition: all .5s ease
  grid-template-columns: 1fr 1fr 1fr

  .imageContainer
    position: relative
    width: max-content

    .foregroundImg
      cursor: pointer
      position: relative
      z-index: 2
      pointer-events: none

    .backgroundImg
      position: absolute
      top: 2px
      transform: scale(.75)
      transition: all .8s cubic-bezier(0.32, 0.4, 0.45, 0.94)
      z-index: 1
      opacity: 1
      filter: blur(24px) brightness(.8)
      -webkit-filter: blur(24px) brightness(.8)

.container-item-donate-n:hover .backgroundImg
  transform: scale(1.15)

#discord-embed iframe
  box-shadow: 0 0 64px 8px #5765f28a

#events_block
  background: var(--si-body-bg) !important

#zlp-tg-link
  font-weight: 700 !important

iframe[id*='telegram-post']
  filter: drop-shadow(2px 4px 6px black)
  -webkit-filter: drop-shadow(2px 4px 6px black)

.comment-show-button
  transition: all .6s

  &:hover
    text-decoration: underline
    text-decoration-style: solid

.hero-bg-st
  background: linear-gradient(315deg, rgba(145, 71, 255, 0.05), rgba(145, 71, 255, 0.2), rgba(145, 71, 255, 0.05))
  background-size: 100% 600%
  animation: HerokuGradientBack 8s ease infinite
  height: 100%
  width: 100%

.frame_badge_adaptive
  font-size: 0.9rem !important
  background: var(--white-theme-front-set)
  color: var(--white-theme-black-set)
  text-align: center
  justify-content: center
  padding: .35em .4em .4em .4em !important
  border-radius: 0.25em
  display: inline
  font-weight: 600 !important

.donate-header-container
  padding: .8em
  border-radius: .7rem
  box-shadow: 0 0 16px #0003

.dark-mode .donate-header-container
  box-shadow: none

.token-description-dnt
  font-weight: 600
  font-size: 0.85em
  margin: auto
  width: 85%

.verified-icon
  --icon-verified: url('data:image/svg+xml,%3Csvg height="26" viewBox="0 0 26 26" width="26" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="m14.378741 1.509638 1.818245 1.818557c.365651.365716.861601.571194 1.378741.571259l2.574273.000312c1.01361.000117 1.846494.773578 1.940861 1.762436l.008905.187798-.000312 2.5727c-.000065.517322.205439 1.013454.571259 1.379222l1.819649 1.819337c.714441.713427.759174 1.843179.134563 2.609139l-.134797.148109-1.819181 1.8182502c-.365963.3657823-.571558.8620196-.571493 1.3794456l.000312 2.5737972c.000559 1.0136048-.772668 1.846676-1.7615 1.9412861l-.188266.0084786-2.573792-.0003107c-.517426-.0000624-1.013675.2055248-1.379456.5714956l-1.818245 1.8191823c-.71331.7145515-1.843049.7594886-2.609113.1349998l-.148135-.1347645-1.8193435-1.8196542c-.3657628-.3658252-.8618987-.5713214-1.3792103-.571259l-2.5727052.0003107c-1.0136048.0001222-1.846676-.7731321-1.9412861-1.761968l-.0089492-.1877967-.0003107-2.5742678c-.0000624-.5171478-.2055495-1.0130926-.571259-1.3787397l-1.8185622-1.8182515c-.7139886-.713869-.758706-1.843647-.1340846-2.609607l.1338493-.148109 1.8190328-1.81935c.3655665-.365625.5709613-.861471.5710237-1.378494l.0003107-2.573181c.0006006-1.076777.8734635-1.949636 1.9502353-1.950234l2.5731758-.000312c.5170321-.000065 1.0128768-.205452 1.3785044-.571025l1.8193448-1.819038c.761592-.761449 1.996254-.761345 2.757716.000247zm3.195309 8.047806c-.426556-.34125-1.032655-.306293-1.417455.060333l-.099151.108173-4.448444 5.55815-1.7460313-1.74707-.1104961-.096564c-.4229264-.32188-1.0291801-.289692-1.4154413.096564-.3862612.386269-.4184492.992511-.0965653 1.41544l.0965653.1105 2.5999987 2.5999987.109876.0961467c.419874.320359 1.015131.2873897 1.397071-.0773773l.098579-.107692 5.2-6.4999961.083772-.120484c.273208-.455884.174278-1.054885-.252278-1.396122z" fill="%2364b5ef" fill-rule="evenodd"/%3E%3C/svg%3E')

.verified-icon
  display: inline-block
  width: 1em
  height: 1em
  padding: 1px
  text-indent: -10em
  overflow: hidden
  background: var(--icon-verified) no-repeat 0 0
  background-size: 100%
  vertical-align: -3px
  margin-left: 3px

.player_head_container
  width: 155px
  margin: auto

  > .player_clan_badge
    position: absolute
    width: 3rem
    height: 3rem
    background-image: url(../images/emoji/rainbow-flag.png)
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    filter: drop-shadow(2px 4px 8px #0009)
    -webkit-filter: drop-shadow(2px 4px 8px #0009)

  > .player-head
    height: 155px
    width: 100%
    background-size: contain

.player_badge_container
  display: inline-flex

.player_badge
  height: 2.4rem
  width: 2.4rem
  margin-left: .2rem
  margin-right: .2rem
  background-size: 1.9rem 1.9rem
  background-repeat: no-repeat
  background-position: center
  border-radius: 0.55rem
  background-color: #fefefe
  padding: 1.15rem !important
  transition: background-color 400ms
  box-shadow: 0 0 18px rgba(0, 0, 0, .4)

.dark-mode .player_badge
  background-color: #18181b !important

.tooltip-inner
  background-color: #fefefe
  border-radius: var(--si-tooltip-border-radius, 0)
  color: var(--theme-default-color)
  max-width: var(--si-tooltip-max-width)
  padding: var(--si-tooltip-padding-y) var(--si-tooltip-padding-x)
  text-align: center
  box-shadow: 0 0 20px #0006

.dark-mode .tooltip-inner
  background: #18181b
  box-shadow: unset !important

.donate-button
  display: block
  margin: auto

.inst-bg-image
  margin: auto

  > img
    margin: auto
    display: block

.download_button_zp
  > a
    display: block
    margin: auto
    width: 50%

@keyframes HerokuGradientBack
  0%
    background-position: 87% 0

  50%
    background-position: 14% 100%

  100%
    background-position: 87% 0

.min-w-zl
  min-width: 40%

.donate-cart-button-cn
  display: none
  opacity: 0
  margin-top: -50px
  padding: 0 5px 0 5px
  transition: margin-top 0.4s, opactity 0.3s

#donate-title-desc
  margin-bottom: 0 !important
  padding-bottom: 0 !important
  font-size: .9em !important

.theme-styled-text-st
  color: #000000c7

  &:hover
    color: #000000c7

.dark-mode .theme-styled-text-st
  color: #fff

  &:hover
    color: #fff

.hover-blur-rl
  filter: blur(8px)
  -webkit-filter: blur(8px)
  transition: all 0.6s

  &:hover
    filter: blur(0)
    -webkit-filter: blur(0)

.donate-cancel-cart
  color: var(si-body-color)
  font-weight: 700
  font-size: 3.5em

.discord-block-back-st
  backdrop-filter: blur(12px)
  -webkit-backdrop-filter: blur(12px)

.error_text_cst
  color: #fff
  padding: 1em
  margin: 0
  backdrop-filter: blur(4px)
  -webkit-backdrop-filter: blur(4px)

.error_box_cst
  bottom: 0
  position: fixed
  background: var(--notify-theme-bg)
  width: 100%
  height: auto
  transition: margin-bottom .2s
  z-index: 9999
  box-shadow: 0 -5px 10vh 0 var(--notify-theme-shadow)
  border-top: 1px solid rgba(255, 255, 255, 0.4)

.btn-scroll-top.show
  background: rgba(0, 0, 0, 0.25)
  backdrop-filter: blur(8px)
  -webkit-backdrop-filter: blur(8px)
  color: var(--si-btn-scroll-top-color)
  transition: all .7s !important
  border: 0 #0000
  box-shadow: unset

  > span
    color: var(--si-body-color)

  &:hover
    background: rgba(0, 0, 0, 0.25)
    border: 2px solid #925dec
    box-shadow: 0 0 20px rgba(146, 93, 236, 0.8)

.cst-icon-svg
  height: 1.5em
  filter: invert(1)
  -webkit-filter: invert(1)
  margin: 5px

.zlp-comment-icon
  padding: .7em !important

  > i
    margin-right: .3em

.grecaptcha-badge
  display: none !important

#comment_swipe_array
  > div > figure
    box-shadow: 0 0 16px #0003 !important
    width: 95%
    margin: auto
    background: var(--second-bg-theme)

.emoji
  font-style: normal

  > b
    font-weight: normal

s .emoji > b
  font-weight: normal

a:hover
  \:has(.emoji)
    text-decoration: inherit

  .emoji
    text-decoration: inherit

    > b
      text-decoration: inherit

.emoji_default .emoji
  background: none !important

.emoji
  width: 1.25em
  vertical-align: top
  display: inline-block
  white-space: nowrap
  overflow: hidden
  position: relative
  background: no-repeat -1000px -1000px
  background-size: .95em
  text-indent: -10em
  padding: 3px 3px 3px 2px
  margin: -3px -2px

  &:before
    content: ''
    position: absolute
    pointer-events: none
    left: 0
    top: 0
    right: 0
    bottom: 0
    background: inherit
    background-position: 2px 50%
    background-position-y: calc(50% + 1px)

  > b
    letter-spacing: 12em
    pointer-events: none

.dark-mode .news-figure
  $shadow-news-block: rgba(255, 255, 255, 0)

.news-figure
  $shadow-news-block: rgba(119, 44, 232, 0)

  margin: auto
  padding: 0 !important
  margin-bottom: 0 !important
  box-shadow: 0 -1rem 25px var($shadow-news-block) !important
  transition: box-shadow 1s
  width: 90%

figure.news-figure
  $border-news-figure: calc(.6vh + .8vw)

  border-radius: $border-news-figure

  > .background-news
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    background-color: #222
    border-radius: $border-news-figure
    height: 100%

    > .background-news-overlay
      position: relative
      border-radius: calc(.6vh + .6vw)
      background: $border-news-figure
      height: 100%
      overflow: hidden
      backdrop-filter: blur(1px)
      -webkit-backdrop-filter: blur(1px)

      > .background-news-overlay-dark-mode
        background-color: rgba(0, 0, 0, 0)
        transition: background-color 1.4s
        height: 100%
        border-radius: $border-news-figure
        overflow: hidden

.dark-mode .background-news-overlay-dark-mode
  background-color: rgba(0, 0, 0, .4) !important

.news-text-container
  padding-top: 0 !important
  padding-left: 1rem

  > .news-text
    text-shadow: 0 0 16px #000

  > .news-bottom-container
    position: absolute
    bottom: .5rem
    display: block
    width: 100%
    padding-right: 2.4rem

    > a
      float: right

@media (max-width: 600px)
  #donate-private-butt
    width: unset !important
    margin: 0 10%

  .news-text-container
    > .news-text
      padding-bottom: .8rem

    > .news-bottom-container
      padding-right: 1.6rem !important

      > a
        float: unset
        display: flex
        margin-top: 1rem
        margin-right: 1rem

.news-date-text
  display: block
  text-align: center
  margin-top: 0.6rem

#telegram_block_load
  margin-top: 1em !important

.dark-mode .swiper-shadow-overlay
  --shadow-color-swiper: 14, 14, 16, 1

.swiper-right-shadow
  --shadow-position-swiper: to left
  right: -3px

.swiper-left-shadow
  --shadow-position-swiper: to right
  left: -1px

.swiper-shadow-blocks
  bottom: 1rem

.swiper-shadow-overlay
  position: absolute
  width: 5.5vw
  height: 100%
  z-index: 1000
  pointer-events: none
  --shadow-color-swiper: 255, 255, 255, 1
  transition: width .6s

  background: linear-gradient(var(--shadow-position-swiper), rgba(var(--shadow-color-swiper)) 10%, rgba(0, 0, 0, 0) 90%)

.shadow-high-up
  background: linear-gradient(var(--shadow-position-swiper),rgba(var(--vertical-shadow-color)) 15%,transparent 100%) !important

.vertical-bottom-shadow
  --shadow-position-swiper: to top
  top: 80.1%

.vertical-top-shadow
  --shadow-position-swiper: to bottom
  top: -2px

.dark-mode .shadow-vertical-overlay
  --vertical-shadow-color: 14, 14, 16, 1

.shadow-vertical-overlay-news
  transition: background .6s !important
  background: linear-gradient(var(--shadow-position-swiper),rgba(255, 255, 255, 1) 15%,transparent 100%) !important

.dark-mode .shadow-vertical-overlay-news
  background: linear-gradient(var(--shadow-position-swiper),rgba(14, 14, 16, 1) 15%,transparent 100%) !important

.transparent-vertical-shadow
  --vertical-shadow-color: 255, 255, 255, .3 !important

.dark-mode .transparent-vertical-shadow
  --vertical-shadow-color: 14, 14, 16, .3 !important

.shadow-vertical-overlay
  position: absolute
  width: 100%
  height: 20%
  z-index: 1000
  pointer-events: none
  --vertical-shadow-color: 14, 14, 16, 1
  transition: width .6s

  background: linear-gradient(var(--shadow-position-swiper), rgba(var(--vertical-shadow-color)) 10%, rgba(0, 0, 0, 0) 90%)

.dark-mode .object-block-col
  --color-event-object: #fff
  --bg-event-object: rgb(23, 23, 23)
  --shadow-event-object-color: rgb(0, 0, 0, 0)

.object-block-col
  --color-event-object: #000
  --bg-event-object: rgb(250 250 250)
  --shadow-event-object-color: rgba(0, 0, 0, .4)

.object-block-col
  background: var(--bg-event-object) !important
  position: relative
  bottom: 0
  left: 0
  height: 100%
  min-height: 80px
  border-radius: 0 !important
  padding: 1rem
  transition: all 1s
  color: var(--color-event-object) !important

  &:hover
    bottom: .4rem
    left: .4rem
    box-shadow: -6px 6px 0 #9047ff

.event-switch-buttons
  margin: auto
  justify-content: center
  text-align: center
  display: flex

.events-c-container
  transition: top 600ms
  position: relative

.underline-button
  position: relative
  cursor: pointer
  font-size: calc(2vw + 1.4vh)
  font-weight: 400
  line-height: 100%
  color: var(--contr-color-var)
  text-transform: uppercase

  > .underline-button-item
    background: rgba(0, 0, 0, 0)
    border: 0
    padding-left: 1rem
    padding-right: 1rem

    &:enabled
      color: var(--contr-color-var)

    &:disabled
      color: var(--contr-color-var)
      filter: invert(.6)
      -webkit-filter: invert(.6)

    &:not(:hover)::after
      transform: scalex(0)

    &:enabled::after
      content: ""
      position: absolute
      width: 100%
      height: 2px
      left: 0
      bottom: -3px
      background: var(--contr-color-var)
      transition: -webkit-transform .5s
      transition: transform .5s,-webkit-transform .5s

#first-global-container
  position: relative
  transition: top 800ms
  background: var(--si-body-bg) !important

#second-global-container
  display: block
  position: absolute
  top: 3rem
  margin-bottom: 1.5rem

.button-scroll-swiper-mc
  text-align: center
  top: 0.35rem
  position: absolute

  &.swiper-left-mc
    left: 0.75rem

  &.swiper-right-mc
    left: 1rem

.stone-logo-subtext
  &.footer-logo
    height: 100px
    --stone-logo-shadow-size: 4em
    --stone-log-shadow-color: 144, 72, 255, .4

  &.loading-splash-logo
    scale: 0.75
    bottom: 10px

    height: 24vh
    margin-top: -4rem
    --stone-logo-shadow-size: 42px
    --stone-log-shadow-color: 144, 72, 255, .95

  @media(prefers-color-scheme: dark)
    &.loading-splash-logo
      --stone-logo-shadow-size: 64px
      --stone-log-shadow-color: 144, 72, 255, .2

  width: 100%
  position: relative
  background-image: url(../images/stone-logo-subtext.webp)
  background-position: center
  background-size: contain
  background-repeat: no-repeat
  transition: all 1.6s
  filter: drop-shadow(2px 4px var(--stone-logo-shadow-size) rgba(var(--stone-log-shadow-color)))
  -webkit-filter: drop-shadow(2px 4px var(--stone-logo-shadow-size) rgba(var(--stone-log-shadow-color)))

#head-container
  position: relative !important
  background: var(--si-body-bg) !important
  transition: right 1s
  right: 0

.main-global-container
  position: relative

//@media (min-height: 740px)
//  .donate-global-container
//    overflow-y: auto !important

.server_history_bg
  background-size: cover
  background-repeat: no-repeat
  width: 100%
  height: 100vh
  color: #fff !important

  h1, h2, h3, h4, h5, h6
    color: #fff !important

  > .black-filter_sr_hs
    position: absolute
    width: 100%
    height: 100%
    opacity: .4
    background-color: #000
    z-index: -1

  > .container
    padding: 2rem !important
    padding-top: 3rem !important

@media (max-width: 960px)
  .server_history_bg
    background-position: center

.donate-global-container
  position: relative
  min-height: 100vh
  transition: all 1s
  overflow-y: auto !important

.donate-container-exit-button
  font-size: 4rem
  width: 4rem
  color: var(--contr-color-var)
  filter: invert(.4)
  -webkit-filter: invert(.4)
  text-align: center
  margin: auto
  display: block
  transition: filter 400ms

  &:hover
    filter: unset !important
    -webkit-filter: unset !important

.ytVideoSetter
  width: 100%
  display: inline-flex

.VideoSetter
  display: flex

.shadow-primary
  box-shadow: 0 0.5rem 1.125rem -0.5rem rgb(143 71 255) !important

.dark-mode .flicker
  animation: flicker 3s linear infinite

@keyframes flicker
  0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100%
    opacity: 1

  20%, 21.999%, 63%, 63.999%, 65%, 69.999%
    opacity: 0.4

.container-second-round
  border-radius: .6rem
  filter: drop-shadow(0 0 16px #00000033)
  -webkit-filter: drop-shadow(0 0 16px #00000033)
  transition: filter 1s

.dark-mode .container-second-round
  filter: unset !important
  -webkit-filter: drop-shadow(0 0 16px #00000033)

#exit-button-container-donate
  position: relative
  bottom: 0
  width: 100%
  left: calc(var(--si-gutter-x)*.0)

#donate-cart-list-success
  > li
    border: 0 !important

.item-levitaion-dec
  position: relative
  bottom: 0
  animation: ItemLevitation 4s cubic-bezier(0.5, 0.27, 0.37, 0.88) infinite

@keyframes ItemLevitation
  0%
    -webkit-transform: translateY(0)
    transform: translateY(0)

  50%
    -webkit-transform: translate3d(0, -10px, 0)
    transform: translate3d(0, -10px, 0)

  100%
    -webkit-transform: translate3d(0, 0, 0)
    transform: translate3d(0, 0, 0)

.text-gradient-primary
  background: linear-gradient(to right, #bb90de, #b254ff, #c6a0e4) !important
  -webkit-background-clip: text !important
  -webkit-text-fill-color: transparent

.dark-mode .text-gradient-primary
  background: linear-gradient(to right, #6a1fdd, #ae27cc, #e444fc) !important
  -webkit-background-clip: text !important

.private-server-hub
  background-image: url(../images/private-server-hub.webp)
  background-size: contain
  background-repeat: no-repeat
  background-position: center
  margin-top: .5rem
  width: 100%
  height: 100%

@media (max-width: 960px)
  #server-hub-text
    text-align: center !important

#server-hub-icon
  width: 22rem
  top: -1rem
  right: 1rem

@media (max-width: 1800px)
  #server-hub-icon
    width: 20vw

@media (max-width: 1500px)
  #server-hub-icon
    width: 22vw

@media (max-width: 1300px)
  #server-hub-icon
    width: 24vw

@media (max-width: 991px)
  #server-hub-icon
    width: 30vw

@media (max-width: 799px)
  #server-hub-icon
    width: 32%

@media (max-width: 767px)
  .server-private-island-mobile
    display: block !important

  #server-hub-icon
    display: none !important

#donate-private-butt
  margin: auto
  width: 16rem

.select-text-border
  border: 1px solid #b66ff1
  border-radius: 0.4rem
  padding: 0 .25rem .2rem .25rem
  margin-left: .1rem
  white-space: nowrap

.dark-mode .select-text-border
  border-color: #8a24d5 !important

#admin-message
  width: 100%
  min-height: 35vh
  max-height: 60vh

#telegram-auth-container
  display: block
  margin: auto

label[for="admin-message"]
  color: #fff
  position: absolute
  right: 2rem
  bottom: 0

.avatar-container
  display: flex
  width: 2.25rem
  height: 2.25rem
  margin-left: 1rem
  border-radius: .7rem
  background-size: contain
  background-repeat: no-repeat
  background-position: center
  background-image: url(../images/telegram-icon.webp)

@media (max-width: 450px)
  #news_swiper_pagination
    display: none

.server-private-island-mobile
  display: none
  height: calc(14vh + 4vw)
