html {
  --back-modal-st: rgba(255, 255, 255, 0.85);
  --white-theme-black-set: rgb(255, 255, 255);
  --white-theme-front-set: rgb(0, 0, 0);
  --notify-theme-bg: rgba(23, 27, 37, 0.7);
  --notify-theme-shadow: rgba(0, 0, 0, 0.35);
  --modal-shadow: rgba(255, 255, 255, 0.75);
  --si-card-bg: rgb(238,238,238);
}

.dark-mode {
  --back-modal-st: rgba(41, 41, 41, 0.85);
  --white-theme-black-set: rgb(0, 0, 0);
  --white-theme-front-set: rgb(255, 255, 255);
  --notify-theme-bg: rgba(23, 27, 37, 0.6);
  --notify-theme-shadow: rgba(255, 255, 255, 0.2);
  --modal-shadow: rgba(100, 102, 241, 0.65);
}
.dark-mode .bg-light:not(.badge), .dark-mode .card.card-hover.bg-light {
  background-color: rgba(11, 15, 25, 0.6) !important;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.24);
}

@media (min-width: 1400px) {
  .video-container-yt {
    height: 300px !important;
  }
}
.video-container-yt {
  width: 90vw;
  height: 50.625vw;
  margin-left: 5vw;
  margin-right: 5vw;
}

.payment-sucess-vova {
  height: 40vh;
  border-radius: 7em;
}

#only-ok-payment {
  margin-top: 0;
}

#success-pay-text-js {
  margin: auto;
}

#swipe-down-landing-n:after {
  mix-blend-mode: difference !important;
}

@media (max-width: 1200px) {
  .payment-sucess-vova {
    margin: auto;
    display: block;
    height: 20vh;
    border-radius: 3.5em;
  }
  #only-ok-payment {
    display: block !important;
  }
  #success-pay-text-js {
    padding: 1.5em;
    display: block;
  }
}
iframe {
  border-radius: 0.5em !important;
}

.fake-block-sett-bg {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.scroll-bottom-landing {
  padding-bottom: 2em !important;
}

.swipe_el_name {
  display: block;
  text-align: center;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.noselect-allow {
  -webkit-touch-callout: default;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.background_media_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(0.12vw);
  -webkit-backdrop-filter: blur(0.12vw);
  z-index: -4;
}

.background_media_overlay_tag {
  transition: all 1s;
  box-shadow: 20px 0 300px 2px #000;
}

.dark-mode .background_media_overlay_tag {
  filter: brightness(0.8);
  -webkit-filter: brightness(0.8);
}

.vova-bg-mobile {
  display: none;
}

@media (max-width: 725px) {
  .vova-right-back {
    opacity: 0;
    display: none;
  }
}
@media (min-width: 725px) and (max-width: 991px) {
  .vova-right-back {
    height: 400px;
    width: 100%;
    z-index: 0;
    display: flex;
    opacity: 1;
    background-image: url(../images/vova-background-mobile.webp);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    bottom: -20px;
    position: absolute;
  }
}
.vova-bg-l-mobile {
  position: absolute;
  height: 100vh;
  background-image: url(../images/vova-background.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right 25% bottom 28px;
  z-index: 0;
  filter: brightness(0.95);
  -webkit-filter: brightness(0.95);
}

.vova-bg-l-mobile-mask {
  position: absolute;
  height: 100vh;
  background-image: url("../images/vova-background.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right 25% bottom 28px;
  z-index: 0;
  filter: drop-shadow(0 0 25px #392568);
  -webkit-filter: drop-shadow(0 0 25px #392568);
}

@media (min-width: 992px) {
  .mt-lg-4-first {
    height: calc(100vh - 16px);
  }
  .background_media_overlay_tag {
    height: 100vh;
    height: 100vh;
  }
  .video-container-yt {
    width: 45vw;
    height: 25.3125vw;
    margin-left: 2vw;
    margin-right: 2vw;
  }
  .vova-bg-landing {
    position: absolute;
    height: 100vh;
    background-image: url(../images/vova-delovoy.webp);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 0;
    filter: brightness(0.95);
    -webkit-filter: brightness(0.95);
  }
  .vova-bg-landing-mask {
    position: absolute;
    height: 100vh;
    background-image: url(../images/vova-delovoy.webp);
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 0;
    filter: drop-shadow(0 0 25px #291d4c);
    -webkit-filter: drop-shadow(0 0 25px #291d4c);
  }
}
.display-1 {
  font-size: calc(48px + 6 * (100vw - 320px) / 680);
}

.custom_input_ {
  margin: auto;
  display: block;
  background: var(--si-body-bg);
  color: var(--si-body-color);
  border: 2px;
  border-style: solid;
  font-size: 18px;
  padding: 6px;
  border-radius: 5px;
  outline: 0;
}

input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body.modal-open {
  overflow: hidden;
}

.btn {
  border: 0;
}

.cart-desc-td {
  display: block;
  width: 70%;
}

.modal {
  display: none;
  opacity: 0;
  position: fixed;
  z-index: 10;
  padding-top: 100px !important;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 24px;
  transition: all 0.4s;
  -webkit-backdrop-filter: blur(12px);
}

.modal-content {
  background-color: var(--back-modal-st);
  margin: auto;
  padding: 20px;
}

@media (min-width: 280px) {
  .modal-content {
    width: 100% !important;
  }
}
@media (min-width: 760px) {
  .modal-content {
    max-width: 600px !important;
  }
}
.form-control:focus {
  border: 1px solid #6366f1 !important;
}

.parent-image-shadow {
  margin: 40px auto;
  width: min-content;
  display: grid;
  gap: 50px;
  transition: all 0.5s ease;
  grid-template-columns: 1fr 1fr 1fr;
}
.parent-image-shadow .imageContainer {
  position: relative;
  width: max-content;
}
.parent-image-shadow .imageContainer .foregroundImg {
  cursor: pointer;
  position: relative;
  z-index: 2;
  pointer-events: none;
}
.parent-image-shadow .imageContainer .backgroundImg {
  position: absolute;
  top: 2px;
  transform: scale(1);
  transition: all 0.5s ease;
  z-index: 1;
  opacity: 1;
  filter: blur(24px) brightness(1.4);
  -webkit-filter: blur(24px) brightness(1.4);
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .foregroundImg {
    left: 50%;
  }
  .backgroundImg {
    left: 50%;
  }
}
.col:hover .backgroundImg {
  transform: scale(2);
}

#discord-embed iframe {
  box-shadow: 0 0 64px 8px rgba(87, 101, 242, 0.5411764706);
}

#telegram_block {
  background: var(--si-body-bg) !important;
}

iframe[id*=telegram-post] {
  filter: drop-shadow(2px 4px 6px black);
  -webkit-filter: drop-shadow(2px 4px 6px black);
}

.hero-bg-st {
  background: linear-gradient(315deg, rgba(126, 68, 221, 0.06), rgba(126, 68, 221, 0.35), rgba(126, 68, 221, 0.06));
  background-size: 100% 600%;
  -webkit-animation: HerokuGradientBack 8s ease infinite;
  -moz-animation: HerokuGradientBack 8s ease infinite;
  animation: HerokuGradientBack 8s ease infinite;
  height: 100%;
  width: 100%;
}

.frame_badge_adaptive {
  font-size: 0.9rem !important;
  background: var(--white-theme-front-set) !important;
  color: var(--white-theme-black-set);
  text-align: center;
  justify-content: center;
  padding: 0.4em !important;
  border-radius: 0.15em;
  display: inline;
  font-weight: 600;
}

.donate-button {
  display: block;
  margin: auto;
}

.inst-bg-image {
  margin: auto;
}
.inst-bg-image > img {
  margin: auto;
  display: block;
}

.download_button_zp > a {
  display: block;
  margin: auto;
  width: 50%;
}

@-webkit-keyframes HerokuGradientBack {
  0% {
    background-position: 87% 0;
  }
  50% {
    background-position: 14% 100%;
  }
  100% {
    background-position: 87% 0;
  }
}
@-moz-keyframes HerokuGradientBack {
  0% {
    background-position: 87% 0;
  }
  50% {
    background-position: 14% 100%;
  }
  100% {
    background-position: 87% 0;
  }
}
@keyframes HerokuGradientBack {
  0% {
    background-position: 87% 0;
  }
  50% {
    background-position: 14% 100%;
  }
  100% {
    background-position: 87% 0;
  }
}
.min-w-zl {
  min-width: 40%;
}

.donate-cart-button-cn {
  display: none;
  opacity: 0;
  margin-top: -50px;
  padding: 0 5px 0 5px;
  transition: margin-top 0.4s, opactity 0.3s;
}

#donate-title-desc {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.theme-styled-text-st {
  color: rgba(0, 0, 0, 0.7803921569);
}
.theme-styled-text-st:hover {
  color: rgba(0, 0, 0, 0.7803921569);
}

.dark-mode .theme-styled-text-st {
  color: #fff;
}
.dark-mode .theme-styled-text-st:hover {
  color: #fff;
}

.hover-blur-rl {
  filter: blur(8px);
  -webkit-filter: blur(8px);
  transition: all 0.6s;
}
.hover-blur-rl:hover {
  filter: blur(0);
  -webkit-filter: blur(0);
}

.donate-cancel-cart {
  color: var(--si-body-color);
  font-weight: 700;
  font-size: 3.5em;
}

.discord-block-back-st {
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.error_text_cst {
  color: #fff;
  padding: 1em;
  margin: 0;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.error_box_cst {
  bottom: 0;
  position: fixed;
  background: var(--notify-theme-bg);
  width: 100%;
  height: auto;
  transition: margin-bottom 0.2s;
  z-index: 9999;
  box-shadow: 0 -5px 50px 0 var(--notify-theme-shadow);
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.btn-scroll-top.show {
  border: 2px solid;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5411764706);
  transition: all 0.4s;
}

.cst-icon-svg {
  height: 1.5em;
  filter: invert(1);
  -webkit-filter: invert(1);
  margin: 5px;
}

.zlp-comment-icon {
  padding: 0.7em !important;
}
.zlp-comment-icon > i {
  margin-right: 0.3em;
}

.grecaptcha-badge {
  display: none !important;
}

/*# sourceMappingURL=custom.css.map */
